* {
  box-sizing: border-box;
}

a {
  color: #0091BE;
}

/* top image */

.avatar {
  float: right;
  width: 42px;
  border-radius: 6px;
}

/* albums list */

article {
  display: inline-block;
  width: 320px;
  height: 420px;
  padding: 8px;
  overflow: hidden;
}

article img {
  width: 320px;
  height: 320px;
}

.markdown-body article p {
  margin-bottom: 0;
}

.release-date {
  color: gray;
  font-size: 90%;
}

.tag {
  color: white;
  background-color: lightgray;
  border-radius: 12px;
  font-size: 90%;
  padding: 2px 8px;
}
